<%- include('header') %>

<form action="/registerinfos" method="post">
    <%for (doc of docs){ %>

    <div class="form-group">
        <label for="age">Entrer l'age: </label>
        <input id="age" type="text" class="form-control" name="age" placeholder="age" value='<%= doc.age; %>'>
        <% if(typeof errors.age != 'undefined'){ %>
            <div style="color : red"><%= errors.age; %></div>
        <% } %>
    </div>

    <div class="form-group">
        <label for="famille">Entrer la famille: </label>
        <input id="famille" type="text" class="form-control" name="famille" placeholder="famille" value=<%=doc.famille; %>>
        <% if(typeof errors.famille != 'undefined'){ %>
            <div style="color : red"><%= errors.famille; %></div>
        <% } %>
    </div>

    <div class="form-group">
        <label for="race">Entrer la race: </label>
        <input id="race" type="text" class="form-control" name="race" placeholder="race" value=<%= doc.race; %>>
        <% if(typeof errors.races != 'undefined'){ %>
            <div style="color : red"><%= errors.races; %></div>
        <% } %>
    </div>
    <div class="form-group">
        <label for="nourriture">Entrer la nourriture: </label>
        <input id="nourriture" type="text" class="form-control" name="nourriture" placeholder="nourriture" value='<%= doc.nourriture; %>'>
        <% if(typeof errors.nourriture != 'undefined'){ %>
            <div style="color : red"><%= errors.nourriture; %></div>

        <% } %>
        <% } %>
    </div>
    <input type="submit" class="btn btn-primary" value="Enregistrer ses infos">
</form>
<%- include('footer') %>