<%- include('header') %>
<p> votre nom: <%= user.login; %></p>
<% for(let doc of docs) { %>
<p> age: <%= doc.age; %></p>
<p> race: <%= doc.race; %></p>
<p> famille: <%= doc.famille; %></p>
<p> nourriture: <%= doc.nourriture; %></p>
<% } %>

<a href="/addinfos" class="btn btn-primary">ajouter ou modifier ses informations</a>
<a href="/account" class="btn btn-primary">Retour</a>
<a href="/logout">Deconnexion</a>

<%- include('footer') %>